@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<h4>Add a New Stylist</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)

    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)

    <input type="submit" value="Add Sylist"/>
}

<p>@Html.ActionLink("Show All Sylists", "Index")</p>