@{
    Layout = "_Layout";
}

@model HairSalon.Models.Appointment
<h4>New Appointment for @ViewBag.Stylist.Name</h4>

@using (Html.BeginForm())
{
    <input data-val="true" data-val-required="The StylistId field is required." id="StylistId" name="StylistId" type="hidden" value="@ViewBag.Stylist.StylistId">

    @Html.LabelFor(model => model.Client)
    @Html.DropDownList("ClientId")<br>
    
    @Html.LabelFor(model => model.Date)
    <input name="Date" type="date"><br>

    @Html.LabelFor(model => model.Notes)
    @Html.TextBoxFor(model => model.Notes)<br>

    <input type="submit" value="Add Appointment" class="btn btn-default"/> 
}

<p>@Html.ActionLink("Cancel", "Index", "Home")</p>